<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container" style="max-width: 400px; margin-top: 100px;">
        <div class="card">
            <h2>GUTEN ADMIN</h2>
            <form action="/login" method="POST">
                <input type="password" name="password" placeholder="SENHA DO SÓCIO">
                <button type="submit" class="btn">ENTRAR NO SISTEMA</button>
            </form>
        </div>
    </div>
</body>
</html>